<!DOCTYPE html>
<html>
    <head>
        <title>STLCC 101 | Build-a-Blog</title>
        <style type="text/css">
            {% include "style.css" %}
        </style>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:300" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:700|Raleway:300" rel="stylesheet" />
    </head>
    <body>
        <main id="contentwrap">
            <header id="wrap">
                <h1><em>Build-a-Blog</em></h1>
                <hr width="90%" />
                <span class="menu">
                    &middot;&nbsp;<a href="/">READ RECENT POSTS</a>&nbsp;&middot;
                    &nbsp;&#124;&nbsp;
                    &middot;&nbsp;<a href="newpost">CREATE A NEW POST</a>&nbsp;&middot;
                </span>
                <hr width="90%" />
            </header>
            <section id="heading">
                {% block title %}
                {% endblock %}
            </section>
            {% block content %}
            {% endblock %}
            <br />
        </main>
    </body>
</html>
