{% extends "base.html" %}
{% block title %}
<h2>Welcome to Build-a-Blog!</h2>
<h3>Recent Posts ({{ allSubs }} total)</h3>
{% endblock %}
{% block content %}
<hr />
{% for post in post_list %}
<article id="content">
    <section id="heading">
        <a href="/blog/{{ post.key().id() }}"><h4>{{ post.title }}</h4></a>
        <h5>Posted on: {{ post.creation.strftime("%B %d, %Y, %I:%M %p") }}</h5>
    <section>
    <section id="body">
        <p>
            {{ post.post|truncate(length=400, killwords=False, end='...') }}
        </p>
        {% if post.post|length > 400 %}
        <span id="readme" style="display: block">
            <a href="/blog/{{ post.key().id() }}">Read more...</a>
        </span>
        {% endif %}
    </section>
</article>
{% endfor %}
<hr />
<section id="pagination">
{% if curPg > 1 %}
<a href = "blog?page={{ curPg - 1 }}">&#8678;&nbsp;Previous</a>
{% else %}
<span id="pageoff">&#8678;&nbsp;Previous</span>
{% endif %}
&nbsp;&#124;&nbsp;
Page {{ curPg }} of {{ allPg }}
&nbsp;&#124;&nbsp;
{% if curPg < allPg %}
<a href = "blog?page={{ curPg + 1 }}">Next&nbsp;&#8680;</a>
{% else %}
<span id="pageoff">Next&nbsp;&#8680;</span>
{% endif %}
</section>
<br />
{% endblock %}
