{% extends "base.html" %}
{% block title %}
<h2>Welcome to Build-a-Blog!</h2>
<h3>Most Recent Posts</h3>
{% endblock %}
{% block content %}
<hr />
{% for post in post_list %}
<article id="content">
    <section id="heading">
        <a href="/blog/{{ post.key().id() }}"><h4>{{ post.title }}</h4></a>
        <h5>Posted on: {{ post.creation.strftime("%B %d, %Y, %I:%M %p") }}</h5>
    <section>
    <section id="body">
        <p>
            {{ post.post }}
        </p>
        <!-- commented out, until it can be made functional in the code
        <span id="readme" style="display: {{ visiSpan }}">
            <a href="/blog/{{ post.key().id() }}">Read More...</a>
        </span>
        -->
    </section>
</article>
{% endfor %}
<hr />
{% endblock %}

def readMore(moreText):
    if len(moreText) > 200:
        trunkText = (moreText[:200] + '...')
        visiSpan = "block"
    else:
        trunkText = moreText
        visiSpan = "none"
    return trunkText
